body {
    display: grid;
    gap: 5px 5px;
    background: darkblue;
    padding: 5px;
    grid-template-columns: auto;
    grid-template-rows: 75px 100px 500px 50px;
    grid-template-areas: "head" "aside" "main" "foot";
}

header {
    grid-area: head;
    background-color: lightblue;
    text-align: center;
}

main {
    grid-area: main;
    background-color: lightblue;
    padding: 5px;
}

main img {
    width: 75%;
    margin-top: 10px;
}

main > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

aside {
    grid-area: aside;
    background-color: lightblue;
    padding: 5px;
}

footer {
    grid-area: foot;
    background-color: lightblue;
    padding: 5px;
}

@media all and (min-width: 600px) {
    body {
        display: grid;
        gap: 5px 5px;
        background: darkblue;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-rows: 75px 90% 50px;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "head head head head"
                             "aside main main main"
                             "aside foot foot foot";
    }
}